body{
	margin: 0;
	background-color: #C4E538;
}


h1,h3{
	text-align: center;
	margin: 60px 0;
	font-family: Industry, monospace;
	color: #8844EE;
	margin-right: 5%;
	margin-left: 5%;	
}


header{
	width: 100%;
	height: 80px;
	background-color: #8844EE;
}

.fa-apple{
 margin-top: 9px;
 font-size: 65px;
 color: #fff;
 cursor: pointer;
}

.fa-apple:hover{
 margin-top: 9px;
 font-size: 65px;
 color: #000;
}


.blocos{	
	width: 100%;
	height: 60px;
	background-color: #5e0000;

}

#b1{
	margin-top: 20px;
	height: 50px;
	width: 50px;
	background-color: #f1c40f;

}

#b2{
	margin-top: 20px;
	height: 50px;
	width: 50px;
	background-color: #006266;


}


